/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  font-family: var(--font-family );
  background-color: var(--surface-b);
}

.text-layout
{
  color: var(--text-color);
}

.imgTam
{
  width: 5em;
  height:25em;
}