<div class="grid">
        <div class="col-4">
        </div>
        <div class="col-6">
            <h1 class="text-layout">The Rick and Morty API</h1>
            
        </div>
        
    </div>

    <div class="grid">
        <div class="col-3">
            <p-card >
                <img class="imgTam col-12" src="../../assets/imgs/Rick_y_morty.png" alt="RickAndMorty">
            </p-card>
        </div>
        <div class="col-6">
            <p-card >
                <img class="imgTam col-12" src="../../assets/imgs/rick-and-morty-wallpaper.jpg" alt="RickAndMorty">
            </p-card>
        </div>
        <div class="col-3">
            <p-card >
                <img class="imgTam col-12" src="../../assets/imgs/unnamed.png" alt="RickAndMorty">
            </p-card>
        </div>
            
    </div>

    
